
	mynav ul{
		width: 90%;
		float: left;
		
		display:flex;
		justify-content: center;     
		position: relative;
    		background: #7e8cf1; 
    		background: -moz-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
    		background: -webkit-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
     		background: linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
		border-radius: 20px; 
		
	}
	mynav li {
		margin:0;
		padding:0;
		list-style:none;
		
	}
	mynav a{
		display:block;
		float:left;
		width: 200px;
		padding: 10 px;
		margin: 10px;
		text-decoration-line:none;
		
		<!--border: 2px black solid;-->
	}
	
	mynav li#r {
		text-align: right;
	}
	
	mynav li#c {
		width:20px;
	}
	mynav a:hover{
		text-decoration-line:none;
		background:fff5f5;
		color:black;
		border-radius: 10px; 
		
	}

	b#my {
	     background: #7e8cf1; 
	     background: -moz-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     background: -webkit-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     background: linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     border-radius: 10px; 
	     float: left; 
	     text-align: center; 
	     width: 50%;
	}
	h4#my {
	     background: #7e8cf1; 
	     background: -moz-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     background: -webkit-linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     background: linear-gradient(top , #6ec2de 0% , #7e8cf1 100%); 
	     border-radius: 10px; 
	     float: left; 
	     text-align: center; 
	     width: 50%;
	}


